@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OpenSans_Medium';
    src: url('../../public/assets/fonts/OpenSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans_Light';
    src: url('../../public/assets/fonts/OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans_Bold';
    src: url('../../public/assets/fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans_Regular';
    src: url('../../public/assets/fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans_SemiBold';
    src: url('../../public/assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.OpenSans_Medium {
    font-family: "OpenSans_Medium" !important;
}
.OpenSans_Light {
    font-family: "OpenSans_Light" !important;
}
.OpenSans_Bold {
    font-family: "OpenSans_Bold" !important;
}

.OpenSans_Regular {
    font-family: "OpenSans_Regular" !important;
}
.OpenSans_SemiBold {
    font-family: "OpenSans_SemiBold" !important;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    
}
ol,
ul {
list-style: none !important;
}
del {
text-decoration: line-through;
}
body {
font-family: "InterRegular", Arial, Helvetica, sans-serif;
font-size: 17px;
color: #000;
overflow-x: hidden;
min-width: 320px;
font-weight: 500;
}
input,
textarea,
select {
font-family: "InterRegular", Arial, Helvetica, sans-serif;
font-weight: 500;
}
.thumb {
display: block;
}
img {
display: block;
width: 100%;
height: 100%;
}
a {
cursor: pointer;
}
.wrapper {
width: 85%;
margin: 0 auto;
}
.free {
    background: linear-gradient(127.01deg, rgb(15, 167, 111) -9.18%, rgb(15, 158, 167) 129.96%);
}
.decorator{
    background-image: url(../../public/assets/images/decorator.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.start{
    background: linear-gradient(127.01deg, rgb(15, 167, 111) -9.18%, rgb(15, 158, 167) 129.96%);
}
.bground{
    background-image: url(../../public/assets/images/bg-round.svg);
    background-repeat: no-repeat;
}
.banner{
    background-image: url(../../public/assets/images/banner-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.now {
    background: linear-gradient(127.01deg, rgb(15, 167, 111) -9.18%, rgb(15, 158, 167) 129.96%);
}